.bottom-navbar.sticky {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #ffffff;
 
  }

  .navbar-left>img {
    height: 60px;
    width: 80px;
    margin-top: 3px;
    margin-bottom: 25px;
}